@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Root Variables */
:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --font-size-p: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--slate-300);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    padding: 20px 20px 30px;
    text-align: center;
    overflow: hidden;
}

.qr-code img {
    width: 100%;
    border-radius: 10px;
}

.card-content {
    margin-top: 20px;
}

.card-content h1 {
    font-size: 1.33rem;
    font-weight: bold;
    color: var(--slate-900);
}

.card-content p {
    font-size: var(--font-size-p);
    color: var(--slate-500);
    margin-top: 17px;
}
.attribution{
    position: absolute;
    bottom: 5%;
    font-size: 13px;
}



@media (max-width: 375px) {
    .card {
        width: 90%;
    }
}